/* :root {
    font-size: 16rem;
} */

#header {
    background-image: url("/public/assets/img/dmitry-chernyshov-mp7apsum7ae-unsplash-640x512.jpeg");
    width: 100vw;
    height: 100vh;
    opacity: 80%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: top;
}

body {
    background-color: black;
}

h1, header p {
    color: white;
}

hr {
    color: white;
    width: 200px;
    size: 5;
    text-align: center;
    justify-content: center;

}