:root {
    font-size: 14px;
}

#header_img{
    background-image: url("../img/dmitry-chernyshov-mp7apsum7ae-unsplash-640x512.jpeg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: fixed;
    z-index: -1;
}

.overlay {
    height: 90vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}

body {
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}

header p {
    font-size: 1.5rem;
}

hr {
    background-color: white;
    height: 2px;
    width: 30%;
    margin:10px auto;
    border: none;
    opacity: 1;
}

.biographie img {
    width: 100vw;
    height: 565px;
}

.biographie li {
    font-size: 1.5rem;
    padding-bottom: 25px;
    padding-left: 5px;
}

.biographie-text, .informations {
    font-size: 1.5rem;
}

main ul {
    list-style: none;
}

main .logo {
    width: 40px;
    height: 30px;
    padding-right: 10px;
}

main .logo2 {
    width: 25%;
    height: 150px;
    margin: auto;
}

.italic {
    font-style: italic;
}

h2, h3 {
    color: #03B1D9;
    text-align: center;
}

h4 {
    color: red;
    text-align: center;
}

.card {
    margin-top: 8px;
    margin-left: 8px;
    background-color: #b8d7db80;
    backdrop-filter: blur(4px);
    box-shadow: 0px 5px 10px blueviolet;
}

.card-img-top {
    background-size: cover;
}

.cv {
    height: 100vh;
    width: 100vw;
}

.contact {
    padding-left: 0;
    margin-left: 0;
}

.red {
    color: red;
}

.btn-form {
    width: 30vw;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}

li {
    list-style: none;
}
